.featured-carousel {
  position: relative;
}
.featured-carousel .item {
  left: 0;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.featured-carousel .item.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out 0.2s;
  -moz-transition: opacity 0.4s ease-in-out 0.2s;
  -ms-transition: opacity 0.4s ease-in-out 0.2s;
  -o-transition: opacity 0.4s ease-in-out 0.2s;
  transition: opacity 0.4s ease-in-out 0.2s;
}
